.container {
    display: flex;
    gap: 50px;
    width: 80vw;
    font-family: 'Rubik', sans-serif;
    padding: 150px 10vw 50px 10vw;
    background-color: lightgrey;
    justify-content: space-between;
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

footer > p {
    margin: 0;
    color: white;
    font-size: 2rem;
}

.github-logo {
    width: 75px;
    height: 75px;
}

.page {
    box-sizing: border-box;
}

.top-bar {
    background-color: black;
    padding: 20px;
    position: fixed;
    width: 100vw;
    z-index: 10;
}

.top-bar > p {
    margin: 0;
    color: white;
    font-size: 2.2rem;
}

@media (max-width: 1300px) {
    .container {
        flex-direction: column;
        align-items: 'center';
    }
}