.about-me-container {
    width: 35%;
}

.top-container {
    padding: 0;
    width: 45%;
}

.container {
    position: sticky;
    top: 100px;
    width: 100%;
}

.content-container {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    gap: 30px;
    background-color: white;
}

.description {
    margin: 0;
}

.main-content-container {
    width: 70%;
}

.profile-img {
    width: 90%;
}

.top-design {
    background-color: #00487C;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
}

.top-design > p {
    color: white;
    margin: 0;
    padding-left: 15px;
    font-size: 2rem;
}

.information {
    margin: 10px 0 10px 0;
}

@media (max-width: 1300px) {
    .top-container {
        width: 100%;
    }
}