.form-field-header {
    margin: 10px 0 10px 0;
}

.form-field-input {
    width: 100%;
    padding: 10px 0 10px 5px;
    border: 1px solid black;
    transition: box-shadow 1s;
}

.form-field-input:focus-visible {
    outline: none;
}

.form-field-input:focus {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}